<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/auth.css">
</head>
<%- include('../includes/navigation.ejs') %>


<main>
    <div>
        <% if(errorMessage) { %>
        <div class="user-message user-message--error"><i
                class="material-icons btn-icon">info_outline</i><%= errorMessage %></div>
        <% } %>
        <div class="modal-content reset-password-form">
            <h5 class="center-align modal-heading-background"><i class="material-icons btn-icon">lock_outline</i>Reset
                Password</h5>
            <div class="row">
                <form class="col s12 m8 l6 xl4 offset-s1 offset-m3 offset-l3 offset-xl4 form-login"
                    action="/new-password" method="POST">
                    <div class="row">
                        <div class="input-field input-field-modal col s10 m10 l12 xl12">
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password">
                        </div>
                    </div>
                    <input type="hidden" name="userId" value="<%= userId %>">
                    <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button class="btn modal-close waves-effect waves-light colrr" type="submit">Update
                        Password</button>
                </form>
            </div>
        </div>
    </div>
</main>

</div>
<%- include('../includes/end.ejs') %>